openapi: 3.0.1
info:
  title: Group related API
  version: '7.11'
servers:
  - url: 'https://bpez.eorionsolution.com/engine-rest'
components:
  schemas:
    GenericErrorInfo:
      title: Some detail error information.
      type: object
      properties:
        'type':
          type: string
          description: the name of exception class
        message:
          type: string
          description: a detailed message
    CountInfo:
      title: Result object for all count APIs.
      type: object
      properties:
        count:
          type: integer
          minimum: 0
          description: the count number
    GroupInfoList:
      title: A JSON array of group objects.
      type: object
      properties:
        id:
          type: string
          description: The id of the group.
        name:
          type: string
          description: The name of the group.
        type:
          type: string
          description: The type of the group.
paths:
  /group:
    get:
      summary: Returns a list of groups using a list of parameters.
      description: Queries for a list of groups using a list of parameters. The size of the result set can be retrieved by using the Get Group Count method.
      operationId: getGroups
      parameters:
        - in: query
          name: id
          schema:
            type: string
          description: Filter by the id of the group.
          required: false
        - in: query
          name: name
          schema:
            type: string
          description: Filter by the name of the group.
        - in: query
          name: nameLike
          schema:
            type: string
          description: Filter by the name that the parameter is a substring of.
          required: false
        - in: query
          name: type
          schema:
            type: string
          description: Filter by the type of the group.
        - in: query
          name: member
          schema:
            type: string
          description: Only retrieve groups which the given user id is a member of.
          required: false
        - in: query
          name: memberOfTenant
          schema:
            type: string
          description: Only retrieve groups which are members of the given tenant.
          required: true
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - 'id'
              - 'name'
              - 'type'
            default: 'id'
          description: Sort the results lexicographically by a given criterion. Valid values are id, name and type. Must be used in conjunction with the sortOrder parameter.
          required: false
        - in: query
          name: sortOrder
          schema:
            type: string
            enum:
              - 'desc'
              - 'asc'
            default: 'desc'
          description: Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter.
          required: false
        - in: query
          name: firstResult
          schema:
            type: integer
          description: Pagination of results. Specifies the index of the first result to return.
          required: false
        - in: query
          name: maxResults
          schema:
            type: integer
          description: Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left.
          required: false
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupInfoList'
        400:
          description: Returned if some of the query parameters are invalid, for example if a sortOrder parameter is supplied, but no sortBy is specified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorInfo'
