openapi: 3.0.1
info:
  title: User related API
  version: '7.11'
servers:
  - url: 'https://bpez.eorionsolution.com/engine-rest'
components:
  schemas:
    GenericErrorInfo:
      title: Some detail error information.
      type: object
      properties:
        'type':
          type: string
          description: the name of exception class
        message:
          type: string
          description: a detailed message
    CountInfo:
      title: Result object for all count APIs.
      type: object
      properties:
        count:
          type: integer
          minimum: 0
          description: the count number
    UserInfoList:
      title: A JSON array of user objects.
      type: object
      properties:
        id:
          type: string
          description: The id of the user.
        fisrtName:
          type: string
          description: The first name of the user.
        lastName:
          type: string
          description: The last name of the user.
        email:
          type: string
          description: The email of the user.
paths:
  /user:
    get:
      summary: Returns a list of users using a list of parameters.
      description: Query for a list of users using a list of parameters. The size of the result set can be retrieved by using the Get User Count method.
      operationId: getUsers
      parameters:
        - in: query
          name: id
          schema:
            type: string
          description: Filter by the id of the user.
          required: false
        - in: query
          name: firstName
          schema:
            type: string
          description: Filter by the first name of the user.
        - in: query
          name: firstNameLike
          schema:
            type: string
          description: Filter by the first name that the parameter is a substring of.
          required: false
        - in: query
          name: lastName
          schema:
            type: string
          description: Filter by the last name of the user.
        - in: query
          name: lastNameLike
          schema:
            type: string
          description: Filter by the last name that the parameter is a substring of.
          required: false
        - in: query
          name: email
          schema:
            type: string
          description: Filter by the email of the user.
          required: false
        - in: query
          name: emailLike
          schema:
            type: string
          description: Filter by the email that the parameter is a substring of.
        - in: query
          name: memberOfGroup
          schema:
            type: string
          description: Filter for users which are members of a group.
          required: false
        - in: query
          name: memberOfTenant
          schema:
            type: string
          description: Filter for users which are members of the given tenant.
          required: true
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - 'userId'
              - 'firstName'
              - 'lastName'
              - 'email'
            default: 'userId'
          description: Sort the results by a given criterion. Valid values are instanceId, definitionId, definitionKey, definitionName, definitionVersion, businessKey, startTime, endTime, duration and tenantId. Must be used in conjunction with the sortOrder parameter.
          required: false
        - in: query
          name: sortOrder
          schema:
            type: string
            enum:
              - 'desc'
              - 'asc'
            default: 'desc'
          description: Sort the results in a given order. Values may be asc for ascending order or desc for descending order. Must be used in conjunction with the sortBy parameter.
          required: false
        - in: query
          name: firstResult
          schema:
            type: integer
          description: Pagination of results. Specifies the index of the first result to return.
          required: false
        - in: query
          name: maxResults
          schema:
            type: integer
          description: Pagination of results. Specifies the maximum number of results to return. Will return less results if there are no more results left.
          required: false
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserInfoList'
        400:
          description: Returned if some of the query parameters are invalid, for example if a sortOrder parameter is supplied, but no sortBy is specified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorInfo'
