<div *ngIf="hero">
  <h3>{{hero.name | uppercase}} Details</h3>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
</div>
<button (click)="goBack()">go back</button>&nbsp;&nbsp;&nbsp;
<button (click)="save()" [disabled]="isLoading$ | async">
  <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-ssm" role="status" aria-hidden="true" style="margin: auto"></span>
  <span *ngIf="isLoading$ | async" class="text-primary"></span>
  <span *ngIf="isLoading$ | async" class="text-primary"></span>
  <span *ngIf="isLoading$ | async" class="text-primary"></span>
  save
</button>
