<div class="eo-language-select">
  <div ngbDropdown class="dropdown">
    <a class="dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
      <i class="fad fa-fw fa-language" style="margin-right: 9px"></i>{{ 'lang.selector.title' | translate }}
    </a>
    <div ngbDropdownMenu class="dropdown-area" aria-labelledby="dropdownBasic1">
      <a class="dropdown-item" (click)="changeLanguage('zh-CN')" ngbDropdownItem><i class="flag-icon flag-icon-cn" style="margin-right: 9px"></i>简体中文</a>
      <a class="dropdown-item" (click)="changeLanguage('en-US')" ngbDropdownItem><i class="flag-icon flag-icon-us" style="margin-right: 9px"></i>English</a>
      <a class="dropdown-item" (click)="changeLanguage('ja-JP')" ngbDropdownItem><i class="flag-icon flag-icon-jp" style="margin-right: 9px"></i>日本語</a>
    </div>
  </div>

  <a class="isDisabled" [class.disabled]="true">
    <i class="fad fa-fw fa-language" style="margin-right: 9px"></i>{{ 'lang.selector.title' | translate }}
  </a>

</div>
