<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''" [disabled]="isSaving$ | async">
    add
  </button>
  <span *ngIf="isSaving$ | async" class="text-primary"></span>
  <span *ngIf="isSaving$ | async" class="text-primary"></span>
  <span *ngIf="isSaving$ | async" class="text-primary"></span>
    <div *ngIf="isSaving$ | async" class="spinner-border spinner-border-sm text-primary" role="status"></div>
    <span *ngIf="isSaving$ | async" class="text-primary"></span><span *ngIf="isSaving$ | async" class="text-secondary" style="margin-left: 9px">Saving...</span>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
